<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>{% block title %}{% endblock %} - Where Are My Sheep</title>
    {% endblock %}
</head>
<body>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
    <div class="column is-10">
      <!-- Image -->
                          <h1 class="title">
        Where Are My Sheep
      </h1>
      <h2 class="subtitle">
        {% block subtitle %}{% endblock %}
      </h2>
    </div>
    <div class="column is-2">
      <!-- My hero --><figure class="level-item image is-128x128">
  <img src="/static/James.svg">
</figure>
    </div>
  </div>





    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>
{% block footer %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>Note: image buttons will prompt downloaded and not display on webpage, as they may be very large.</p>
        <p><strong>Where are my sheep</strong> by Nathan Williams.</p>
        <p>Website stylesheet <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
        <p><strong>JamesTheSheep Logo</strong> used with permission from <a href="https://www.ssago.org/clubs/view/aberssago">MSAGM Aber SSAGOs Logo</a>.</p>
    </div>
</footer>
{% endblock %}
</div>
</body>
</html>